.registers{
    background-color: #5B1917;
    height: 100%;
    display: flex;
    justify-content: center;
}
.register-contents{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.update-logo{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 10rem 10rem 40px 0px;
    background-color: #ffffff;
}
.register-form{
    display: flex;
    align-items:center;
    margin: 0px 0px 0px 0px;
}
.register-form input{
    display: flex;
    align-items: stretch;
    height: 50px;
    width: 350px;
    margin: 20px 0px 20px 0px;
    border-radius: 5px;
    border-style: none;
    outline: none;
    font-size: 16px;
}
.register-form select{
    display: flex;
    align-items: stretch;
    height: 50px;
    width: 350px;
    margin: 20px 0px 20px 0px;
    border-radius: 5px;
    border-style: none;
    outline: none;
    font-size: 16px;
}

.register-form button{
    height: 50px;
    width: 150px;
    border-radius: 5px;
    border-style: none;
    background: linear-gradient(#64E9FF, #3DBDDF, #3AB5D6, #36A9C7, #329CB8, #3390AB);
}
.register-form p{
    margin: 10px;
    color: #ffffff;
    
}
@media (min-width:720px) {
    .registers{
        background-color: #5B1917;
        height: 100vh;
        display: flex;
        justify-content: center;
    }
    .register-contents{
        display: flex;
        flex-direction: unset;
        margin: 0px 0px 0px 0px;
    }
}